*{

}
/************************************************************************
GENERAL
*************************************************************************/
body{
 text-align: center;
 background-image: url('http://s3-media3.fl.yelpcdn.com/bphoto/MfdtDDx3G_ivJT42yN13fg/o.jpg');
 background-size: cover;
}

#address{
box-shadow: none;
}

#deals:hover{
background: gold;
}

.menu{
color: yellow;
}



#deals:active { 
    color: fuchsia; 
}

#deals:focus { 
    background: orange; 
    color: whitesmoke;
}

.arrow{
width: 100px;
}

.primary{
border: solid;
padding-right: 0px;
margin: 100px;
margin-left: 300px;
margin-right: 300px;
background-image: linear-gradient(yellow, firebrick);
}

.secondary{
border: 2px solid orangered;
    margin: 10px;
margin-left: 30px;
margin-right: 30px;
box-shadow: inset 0 0 1em gold, 0 0 1em red;
}

header{
background-image: linear-gradient(yellow, firebrick);
    border: solid;
    padding: 0px;
}

p:hover { 
    background: gold; 
}

a:hover { 
    background: gold; 
}

a:link { 
    color: orangered; 
}

a:active { 
    color: fuchsia; 
}

a:focus { 
    background: orange; 
    color: whitesmoke;
}

#gallery{
 margin: 0;
 padding: 0;
 list-style: none;
}
#gallery li{
float: left;
width: 45%;
margin: 2.5%;
text-align: center;
color: black;
}
#gallery li a p{
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color:red;
}

a{
color: orangered;
box-shadow: inset 0 0 1em gold, 0 0 1em red;
}

#fb{
box-shadow: none;
}

#tw{
box-shadow: none;
}

span{
 font-style: italic;
 font-size: 40px;
 color: orangered;
text-shadow: 2px -1px 1px rgba(0,0,0,.9);
}

h1{
 font-style: italic;
 font-size: 72px;
 color: orangered;
text-shadow: 2px -1px 1px rgba(0,0,0,.9);
box-shadow: inset 0 0 1em gold, 0 0 1em red;
}

p{
color: orangered;
font-style: italic;
font-size: 15px;
}

.social-media{
 margin: 0 5 px
}
footer{
    font-size: 0.75em;
    text-align: center;
    padding-top: 10px;
    color: #ccc;
    clear: both;
}
.bmw{
border:1px solid black; 
box-shadow: 10px 10px 5px grey;
}

.menu {
    width: 33%;
}

.google-map div{
    margin: auto;
}

/************************************************************************
GENERAL
*************************************************************************/

@media (max-width: 1024px){
    .primary, .secondary{
    width: 90%;
    }
}

@media (max-width: 768px){
    .primary, .secondary{
    width: 100%;
    padding: 20px;
    border-top: none;
    }
    header{
    max-height: 380px;
    }
}









